{% extends "goodlife/goodlife_base.html" %}

{% block content %}
<div class="cotainer">
  <div class="row">
    <div class="col-sm-12 booking-header">
      <h3>Welcome to Trainer bookings:</h3>
      <p>Please fill out the form below</p>
    </div>
  </div>
</div>
<div class="overlay"></div>
<div class="background-greyout">
<div class="container" id="modal-1">
    <div class="row">
        <div class="col-sm-12">
            <form class="booking-form" method="POST">
                {{ booking }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">submit</button>
                <!--{% for message in messages %}
                  <p>{{message}}</p>
                {% endfor %}-->
            </form>
        </div>
    </div>
</div> 
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 mt-3 text-center">
        <h3 style="color:#CD3700;">Find Us Here</h3>
        <iframe style="width: 100%;"
        src="https://maps.google.com/maps?q=%20Fleminggatan%202,%20112%2026%20Stockholm,%20Sweden&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
      </div>
    </div>
  </div>

{%endblock%}