{% extends "goodlife/goodlife_base.html" %}

{% block content %}

<div class="container-fluid">
  <h3 class="text-center about-header">About Us</h3>
<div class="row">
  <div class="col-md-5 col-sm-12">
    <img class="mr-3 about-image" src="static/images/crossfitsimage.jpg" alt="Generic placeholder image">
  </div>
  <div class="col-7 col-sm-12 text-center about-text">
    <p class="about-text-1">
      We are a group of retired experienced athletes who because of past physical health problem were forced to
      make a change towards living a healthier lifestyle. Some of us have competed at world sports
      competitions while some of us stay consistantly living a healthy lifestyle . Now our mission to help
      everyday people who wants to make a change to have the tools and knowledge they need to acheive a good
      healtyh lifestyle.
    </p>             
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-sm-12">
    <img class="mr-3 about-image" id="about-image-2" src="static/images/trainer.jpg" alt="Generic placeholder image" >
  </div>
<div class="col-7 col-sm-12 text-center about-text">
  <p class="about-text-2">
    Together we have created Good Life gym to do just that. Sharing all the experiences of diets, training
    and life style changes we experienced. Our specially trained personnels at Good Life are here to assit
    you in every way possible and guide you in the right direction to acheive great health and the
    sustainability you are looking for.
  </p>
</div>
</div>
<div class="row">  
  <div class="col-md-5 col-sm-12">
    <img class="mr-3 about-image" id="about-image-3" src="static/images/outdoorimage.jpg" alt="Generic placeholder image">
  </div>
  <div class="col-7 col-sm-12 text-center about-text">
    <p class="about-text-3">
      Established in 2022, our facility is new with easy to use equipments. To show our dedication to you, as a new member our staff are also trained to provide you with "How To Use"
      tour so you never feel like you do not know what you are doing or use the equipments in the
      wrong way.
    </p>
  </div>      
</div>
</div>
<div class="col-sm-12 text-center">
  <h3>Membership Options:</h3>
</div>
<div class="container-fluid">
  <div class="row mem-card-position text-center">
    <div class="col-md-6 col-sm-12">
      <div class="card mb-3 shadow" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 mem-card-color">
              <p class="text-center"><a class="text-decoration-none mem-card-color" href="{% url 'account_signup' %}">Goodlife </a></p>
            </div>
            <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">MEMBERSHIP CARD</h5>
              <p class="card-text">WEEKLY CARD</p>
              <p class="card-text">Normal: 350kr</p>
              <p class="card-text">Student: 300kr</p>
              <p class="card-text">Retired: 300kr</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-6 col-sm-12">
    <div class="card mb-3 shadow" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4 mem-card-color">
          <p class="text-center"><a class="text-decoration-none mem-card-color" href="{% url 'account_signup' %}">Goodlife </a></p>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">MEMBERSHIP CARD</h5>
            <p class="card-text">MONTHLY CARD</p>
            <p class="card-text">Normal: 595kr</p>
            <p class="card-text">Student: 495kr</p>
            <p class="card-text">Retired: 495kr</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row mem-card-position text-center">
  <div class="col-md-6 col-sm-12">
  <div class="card mb-3 shadow" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 mem-card-color">
        <p class="text-center"><a class="text-decoration-none mem-card-color" href="{% url 'account_signup' %}">Goodlife </a></p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">MEMBERSHIP CARD</h5>
          <p class="card-text">6 MONTH CARD</p>
          <p class="card-text">Normal: 2995kr</p>
          <p class="card-text">Student: 2595kr</p>
          <p class="card-text">Retire: 2595kr</p> 
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col-md-6 col-sm-12">
  <div class="card mb-3 shadow" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 mem-card-color">
        <p class="text-center"><a class="text-decoration-none mem-card-color" href="{% url 'account_signup' %}">Goodlife </a></p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">MEMBERSHIP CARD</h5>
            <p class="card-text">YEARLY CARD</p>
            <p class="card-text">Normal: 4995kr</p>
            <p class="card-text">Student: 3995kr</p>
            <p class="card-text">Retired: 3995krkr</p>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>

{%endblock%}