{% extends "goodlife/goodlife_base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <ul class="list-unstyled">
            <li class="media">
              <img class="mr-3" src="static/images/crossfitsimage.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">About Us</h5> 
                    We are a group of retired experienced athletes who because of past physical health problem were forced to
                    make a change towards living a healthier lifestyle. Some of us were compeditors at world sports
                    competitions while some of us stay consistantly living a healthy lifestyle . Now our mission to help
                    everyday people who wants to make a change to have the tools and knowledge they need to acheive a good
                    healtyh lifestyle.
                <hr>
              </div>
            </li>
            <li class="media my-4">
              <img class="mr-3" src="static/images/trainer.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">List-based media object</h5>
                Together we have created Good Life gym to do just that. Sharing all the experiences of diets, training
                and life style changes we experienced. Our specially trained personnels at Good Life are here to assit
                you in every way possible and guide you in the right direction to acheive great health and the
                sustainability you are looking for.
                <hr>
              </div>
            </li>
            <li class="media">
              <img class="mr-3" src="static/images/outdoorimage.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">List-based media object</h5>
                We have also create a facility which contain specially tested equipments that were specially designed to
                give more gains with less effort. Our staff are also trained to provide you with "How To Use"
                demonstrations so you never feel like you do not know what you are doing or use the equipments in the
                wrong way.
              </div>
            </li>
          </ul>
    </div>

</div>

{%endblock%}