@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Racing+Sans+One&family=Raleway:wght@100;400&display=swap');

.logo {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    
    
}

.logo-bar a {
    color: #CD3700;
}

.login-button{
    color: white;
    border-radius: 10px;
    font-size: medium;
    letter-spacing: 0.3rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-right: 3rem;
}

.float {
    float: right;
}

.nav-login{
    float: right;
}

.navbar{
    background-color: #0e2133;
    height: 5rem;
    
}

.navbar a {
    color: #CD3700;
    text-transform: uppercase;
}

.navbar-nav {
    float: right;
}

.hero-image {
    background-image: url('static/images/heroimage.jpg');
    background-size: cover;
    background-position: center;
}


.home-card-dimension{
    width: 20rem;
    height: 24rem;
    box-shadow: 4px 4px 6px 6px rgba(0, 0, 0, 0.2);
    line-height: 40px;
}
   

.card-header{
    background-color: #0e2133;
    color: #CD3700;
    font-size: larger;
}

.card-position{
    margin-left: 12em;
    margin-top: 6em;
}    

.card-body i{
    color: rgb(64, 224, 64);
    
}

.about-card-position {
    margin-left: 2em;
    margin-top: 6em;  
}

.get-trainer {
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.trainer-row {
    margin-left: 8rem;
}

.trainer {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    margin-top: 2rem;
    margin-left: 7rem;
}

/*.background-greyout {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
}*/

/*.booking-image {
    z-index: 0;
    width: 100%;
    height: 50%;
    background: rgba(0,0,0,0.5);
}*/

.overlay {
    background: url('../images/signupimage.jpeg')no-repeat center center;
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
   /* background: rgba(0,0,0,0.5);*/
}

.booking-form {
    height: 300px;
    padding-top: 80px;
    background-color: #fff;
    z-index: 2;
    text-align: center; 
    border: 1px solid black;
    background-color: rgba(240, 240, 240, 0.888);
    border-radius: 5px;
}

hr {
    width: 80%;
    margin-left: 110px;
}

/* .booking-form button { 
    display: block;
    margin-left: 50%;
    margin-top: 50px;
/* } */

.btn-primary {
    margin-top: 50px;
    margin-left: 40%;
    display: block;
    width: 200px;
    background: #CD3700;
    border: none;
}


footer {
    height: 300px;
    background-color: #0e2133;
}

.contact-us{
    margin-top: 3rem;
    letter-spacing: 3px;
    color: silver;
}

.media-links{
    color: #CD3700;
    font-size: medium;
}

.media-links i {
    font-size: 200%;
    margin: 1px;
    padding: 10px;
    color: #CD3700;
    clear: both;
}

.about-image {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    margin-top: 2rem;
}

.about-text {
    margin-top: 4rem;
    height: 300px;
    width: 50%;
    border-radius: 40px;
    line-height: 2rem;
    font-size: 1rem;
}

.mem-card-color{
    background-color: #0e2133;
}

.mem-card-color p {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    color: #CD3700;
    margin-top: 5rem;
}

.card-shadow {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.btn-signup {
    width: 200px;
    background: #CD3700;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.bottom-image {
    height: 170px;
    width: 50%;
    background: url('../images/map2.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    border: 5px solid #0e2133;
    overflow: hidden;
}