@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Racing+Sans+One&family=Raleway:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
}
/**/
.top-bar {
    background-color: #0e2133;
    padding: 10px;
}

.logo {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
}

.logo-bar a {
    color: #fa561b;;
}

/**/
.member-nav {
    font-weight: 600;
    border: 1px solid #fa561b;;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 3rem;
    float: right;
    text-transform: uppercase;
}

/**/
.active:hover {
    border-bottom: 2px solid #CD3700;
    color: #CD3700;
    transition: 0.1s;
}

/*.login-button{
    font-size: medium;
    letter-spacing: 0.3rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-right: 3rem;
    float: right;
}*/

/**/
/*.login-button a:hover {
    color: #cf5b30;
}*/

/**/
.navbar-light{
    color: #0e2133;
    height: 5rem;
}

.navbar-toggler {
    color: #CD3700;
}

.navbar a {
    color: #0e2133;
    text-transform: uppercase;
    margin-right: 30px;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-collapse {
    background-color: white;
    text-indent: 20px;
}

.navbar a:hover {
    color: #CD3700;
}


.member-nav:hover {
    color: #cf5b30;
}

#msg {
    z-index: 2;
    background-color: rgba(240, 240, 240, 0.888);
    position: absolute;
}

/**/
.login-message {
    z-index: 2;
}

/**/
.hero-image-outer {
    overflow: hidden;
}

.hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/heroimage.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/**/
.welcome {
    text-align: center;
    font-size: large;
    margin-top: 40px;
}

.welcome h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
}

/**/
.home-card-dimension{
    width: 20rem;
    height: 24rem;
    box-shadow: 4px 4px 6px 6px rgba(0, 0, 0, 0.2);
    line-height: 40px;
    border-radius: 15px;
}
   
.card-header{
    background-color: #0e2133;
    color: #fa561b;;
    font-size: larger;
    font-weight: 900;
}

.card-position{
    margin-left: 8rem;
    margin-top: 80px;
}  

.card-body i{
    color: rgb(64, 224, 64);  
}



/**/
.get-trainer {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.get-trainer h3 {
    font-weight: 900;
    font-style: italic;
}



.select-trainer h3 {
    font-weight: 900;
    font-style: italic;
}

/**/
.get-trainer a {
    text-decoration: none;
    color: #CD3700;
}

.get-trainer a:hover {
    border-bottom: 1px solid #CD3700;
    transition: 0.5s;
}



.trainer-row {
    margin-left: 7rem;
}

/**/
.trainer-1 {
    background: url('../images/trainer3.jpg');
    height: 200px;
    width: 60%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: 4rem;
    z-index: 1;
}

.trainer-2 {
    background: url('../images/trainer4.jpg');
    height: 200px;
    width: 60%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: 4rem;
    z-index: 1;
}

.trainer-3 {
    background: url('../images/trainer5.jpg');
    height: 200px;
    width: 60%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: 4rem;
    z-index: 1;
}

.trainer:hover {
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    
}

.select-trainer p {
    text-align: center;
    text-decoration: none;
    font-weight: 400;
}

/*.background-greyout {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
}

.booking-image {
    z-index: 0;
    width: 100%;
    height: 50%;
    background: rgba(0,0,0,0.5);
}*/

.booking-header {
    text-align: center;
    height: 300px;
    margin-top: 50px;
}

.overlay {
   /* background: url('../images/signupimage.jpeg')no-repeat center center;
    background-size: cover;
    background-position: center;*/
    z-index: -1;
    height: 100%;
    background: rgba(1, 9, 62, 0.5);
}

.booking-form {
    height: 300px;
    padding-top: 80px;
    margin-top: -200px;
    margin-bottom: 200px;
    background-color: #fff;
    z-index: 2;
    text-align: center; 
    background-color: rgba(240, 240, 240, 0.888); 
    border-radius: 5px;
}

hr {
    width: 60%;
}

/* .booking-form button { 
    display: block;
    margin-left: 50%;
    margin-top: 50px;
/* } */

.btn-primary {
    margin-top: 50px;
    margin-left: 40%;
    display: block;
    width: 200px;
    background: #fa561b;
    border: none;
}

.map {
    margin-top: 200px;
}

.register-form, .login-form {
    height: 600px;
    background: rgba(240, 240, 240, 0.888); 
    text-align: center;
    padding-top: 100px;
}

/*.register-form {
    height: 500px;
    width: 100%;
    background: url('../images/signupimage .jpeg')no-repeat center center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-align: center;
    padding-top: 100px;
}*/


.logout-form {
    height: 600px;
    background: rgba(240, 240, 240, 0.888);
    text-align: center;
    padding-top: 200px;

}

.register-form h1, 
.login-form h1, 
.logout-form h3, 
.booking-header h3 {
    font-weight: 900;
    font-style: italic;
}

.register-form a, 
.login-form a {
    text-decoration: none;
    color: #fa561b;;
}

.register-form a:hover, 
.login-form a:hover {
    color: #fa561b;;
    border-bottom: 1px solid #CD3700;
    transition: 0.5s;
}

.btn-signup, 
.primaryAction, 
.btn-logout {
    height: 40px;
    width: 200px;
    background: #fa561b;
    border: none;
    border-radius: 5px;
    color: #fff;
    border: 1px solid black;
}

.errorlist {
    list-style: none;
}


footer {
    height: 300px;
    background-color: #0e2133;
}

.contact-us{
    letter-spacing: 3px;
    color: #fff;
}

.media-links{
    color: #fa561b;;
    font-size: medium;
}

.media-links i {
    font-size: 200%;
    margin: 1px;
    padding: 10px;
    color: #fa561b;;
    clear: both;
}

.about-header{
    font-weight: 900;
    font-style: italic;
    margin-top: 30px;
    font-size: 2rem;
}

.about-image-1 {
    background: url('../images/crossfitsimage.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    border-radius: 40px;
    margin-bottom: 15px;
    margin-top: 2rem;
    margin-left: 50px;
}

.about-image-2 {
    background: url('../images/trainer.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    border-radius: 40px;
    margin-bottom: 15px;
    margin-top: 2rem;
    margin-left: 50px;
}

.about-image-3 {
    background: url('../images/outdoorimage.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    border-radius: 40px;
    margin-bottom: 15px;
    margin-top: 2rem;
    margin-left: 50px;
}

.about-text {
    margin-top: 4rem;
    height: 300px;
    width: 50%;
    border-radius: 40px;
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.about-text hr {
    margin-top: 30px;
    margin-left: 120px;
}

.mem-card-position {
    margin-left: 2em;
    margin-top: 6em;  
}

.mem-card-color{
    background-color: #0e2133;
}

.mem-card-color p {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    color: #fa561b;;
    margin-top: 5rem;
}

.mem-card-color a {
    color: #fa561b;;
}

.mem-card-color a:hover {
    font-size: 1.8rem;
    transition: 0.5s; 
}

.card-shadow {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

/* style for 404 page cover image and error message */

#error {
    height: 500px;
    width: 100%;
    background: url('../images/404er.jpeg')no-repeat center center;
    background-size: cover;
    background-position: center;
    overflow: hidden; 
} 

#error>h1 {
    margin-top: 100px;
    text-align: center;
    color: #CD3700;
    font-size: 160px;
    font-weight: 800;
}

#error>p {
    text-align: center;
    color: #CD3700;
    font-size:larger;
    font-weight: 600;

}


/*For large to medium screens sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {

    .logo-bar {
        padding-left: 10px;
    }
    
    .logo {
        font-size: 3rem;
    }
    
    
    /**/
    .login-message {
        z-index: 2;
    }
    
    /**/
    .welcome {
        text-align: center;
        font-size: large;
        margin-top: 40px;
    }
    
    .welcome h3 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 2rem;
        font-weight: 900;
        font-style: italic;
    }
    
    
    .card-position{
        margin-top: 50px;
        margin-left: 0px;
    } 
    
    /*.card-2 {
        margin-top: 50px;
    }*/
    
    
    /**/
    .get-trainer {
        margin-bottom: 4rem;
    }

   /* .trainer-images{
        width: 100%;
        margin-left: 0px;
    }*/
    
    /**/
    .trainer-1 {
        width: 100%;
        margin-left: 0rem;
    }

    .trainer-2 {
        width: 100%;
        margin-left: 0rem;
    }

    .trainer-3 {
        width: 100%;
        margin-left: 0rem;
    }

    
    
    
/*.booking-header {
        text-align: center;
        height: 300px;
        margin-top: 50px;
    }
    
    .overlay {
      /*  background: url('../images/signupimage.jpeg')no-repeat center center;
        background-size: cover;
        background-position: center;
        z-index: -1;
        position: absolute;
        height: 100%;
        display: block;
       /* background: rgba(0,0,0,0.5);
    }*/

    .about-text hr {
        margin-left: 100px;
    }
    
    .booking-form {
        height: 300px;
        padding-top: 80px;
        margin-top: -200px;
        margin-bottom: 200px;
        background-color: #fff;
        z-index: 2;
        text-align: center; 
        background-color: rgba(240, 240, 240, 0.888); 
        border-radius: 5px;
    }
    
    hr {
        width: 60%;
    }
    
    /* .booking-form button { 
        display: block;
        margin-left: 50%;
        margin-top: 50px;
    /* } */
    
    .btn-primary {
        margin-top: 50px;
        margin-left: 40%;
        display: block;
        width: 200px;
        background: #CD3700;
        border: none;
    }
    
    .map {
        margin-top: 100px;
    }

    .about-header{
        font-weight: 900;
        font-style: italic;
        margin-top: 30px;
    }

    .about-image-1 {
        margin-left: 0px;
    }

    .about-image-2 {
        margin-left: 0px;
    }

    .about-image-3 {
        margin-left: 0px;
    }

    .about-text {
        font-size: 1rem;
    }
    
    .about-text-1 {
        margin-top: -3rem;
        margin-left: 40px;
    }

    .about-text-2 {
        margin-left: 40px;
    }

    .about-text-3 {
        margin-left: 40px;
    }
    
    .mem-card-position {
        margin-left: -1rem;
        margin-top: 30px;
    }

}

/*  For medium screens sizes from 950px wide and down */
@media only screen and (max-width: 600px) {

    .logo {
        font-size: 1.5rem;
    }
    .top-bar {
        background-color: #0e2133;
        padding: 10px;
    }
    
    
    .logo-bar a {
        color: #CD3700;
    }
    
    /**/
    .member-nav {
        font-size: 0.6rem;
        border: 1px solid #CD3700;
        border-radius: 10px;
        font-weight: 600;
        margin-top: 5px;
        margin-right: 0.5rem;
        float: right;
        text-transform: uppercase;
    }


    #navbarCollapse {
        font-size: 0.5rem;
    }

    .map {
        width: 100%;
    }

    .welcome {
        font-size: 0.8rem;
    }

    .card-position{ 
       margin-left: 18px;
    } 

    .home-card-dimension{
        height: 90%;
        width: 90%;
        line-height: 30px;
        font-size: 0.7rem;
    }

    .card-2 {
        margin-top: 50px;
    }

    .trainer-1 {
        width: 80%;
        margin-left: 2rem;
    }

    .trainer-2 {
        width: 80%;
        margin-left: 2rem;
    }

    .trainer-3 {
        width: 80%;
        margin-left: 2rem;
    }

    .get-trainer {
        font-size: 0.8rem;
    }

    .about-text {
        height: 100%;
        width: 100%;
        border-radius: 40px;
        line-height: 2rem;
        font-size: 1rem;
    }

    .about-text hr {
        margin-left: 60px;
    }
    
    .about-text-1 {
        text-align: center;
        margin-left: 0px;
    }

    .about-text-2 {
        text-align: center;
        margin-left: 0px;
        margin-top: -30px;
    }

    .about-text-3 {
        text-align: center;
        margin-left: 0px;
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .mem-card-color p {
        margin-top: 1.5rem;
    }

    .contact-us {
        font-size: 0.6rem;
    }

    .follow-us {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .media-links {
        font-size: 0.8rem;
    }

    .btn-primary {
        margin: 20px;
        margin-left: 60px;
    }

    .booking-form {
        padding-top: 30px;
    }

    .booking-form input{
        margin: 2px;
    }

    .booking-form label {
        margin: 10px;
    }

    .signup label{
        height: 30%;
        width: 30%;
        font-size: 0.8rem;
    }

    .sigup input  {
        height: 30%;
        width: 30%;
        font-size: 0.8rem;
    }

    .btn-signup {
        margin-top: 30px;
        width: 50%;
    }

    .primaryAction {
        margin-top: 30px;

    }

    .btn-logout {
        margin-top: 40px;
    }

    #error {
        background-size: contain;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .hero-image {
        background-size: contain;
        margin-top: -160px;
        margin-bottom: -160px;
    }

    .overlay {
        background-size: contain;
    }

    /*.hero-image {
        height: 500px;
        width: 100%;
        background: url('../images/heroimage.jpg') no-repeat center center;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }*/

}
